.button {
  width: 120px;
  height: 40px;
  color: var(--card-font-color__button);
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  background-color: var(--card-button-background);
  border-radius: 10px;
}

.button:hover {
  background-color: var(--card-button__hover);
}

.button:active {
  transform: scale(0.95);
}
