.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--card-background);
  font-size: 20px;
  width: 20em;
  max-width: 20em;
  height: 15em;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 5%;
}

.card-bookmark:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card-bookmark:active {
  transform: scale(0.95);
}
