.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--container-background);
  width: 25em;
  height: auto;
  padding: 2em;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--container-background);
  width: 25em;
  height: auto;
  padding: 2em;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--container-background);
  width: 25em;
  height: auto;
  padding: 2em;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#question,
#answer,
#tag {
  resize: none;
}
