.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 30px;
  bottom: 0;
  width: 50em;
  height: 8em;
  background-color: var(--navigation-background);
  border-top: 2px solid var(--body-background);
  padding: 5px 0;
  text-align: center;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navigation-bar .icon:active {
  font-size: 18px;
  transform: scale(0.95);
}

.navigation-bar .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.icon {
  width: 4em;
  height: 4em;
  display: inline-block;
  text-align: center;
  line-height: 20%;
}

.active {
  background-color: var(--active-background-color);
  border-radius: 50%;
  opacity: 1;
}
