.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 25px;
  bottom: 0;
  width: 50em;
  background-color: var(--navigation-background);
  border-top: 2px solid var(--body-background);
  padding: 5px 0;
  text-align: center;
  z-index: 100;
  box-sizing: border-box;
}

.navigation-bar .icon:active {
  font-size: 20px;
  transform: scale(0.95);
}

.navigation-bar .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.highlighted {
  background-color: var(--icon-background__highlight);
}
