@import "./global.css";
@import "./navigation.css";
@import "./cards.css";
@import "./buttons.css";
@import "./profile.css";
@import "./bookmark.css";
@import "./form.css";

:root {
  --body-background: #f0fff0;
  --card-background: #4682b4;
  --card-font-color__button: white;
  --card-button__hover: cornflowerblue;
  --card-button-background: #1c1c1c;
  --container-background: #b0e0e6;
  --navigation-background: grey;
  --icon-background__highlight: #2ed573;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--container-background);
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 30em;
  height: auto;
  max-width: 30em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--container-background);
  width: 50em;
  height: auto;
  padding-top: 4em;
  padding-bottom: 10em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
