body {
  font-family: Arial, sans-serif;
  background-color: honeydew;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: powderblue;
  width: 800px;
  height: auto;
  padding: 10px;
  padding-bottom: 100px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: steelblue;
  width: 60%;
  max-width: 600px;
  height: 300px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 5%;
}

.card-bookmark:hover {
  cursor: pointer;
  opacity: 0.75;
}

.button {
  width: 120px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  background-color: #0c0c0c;
  border-radius: 10px;
}
.button:hover {
  background-color: #3838ff;
}
.button:active {
  transform: scale(0.95);
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  text-align: center;
  z-index: 100;
  box-sizing: border-box;
}

.navigation-bar .icon {
  margin: 0 10px;
  font-size: 20px;
}

.navigation-bar .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
