body {
  font-family: Arial, sans-serif;
  background-color: honeydew;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 40%;
  max-width: 400px;
  padding: 10px;
}

/*.main-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: powderblue;
width: 80%;
height: 70%;
padding: 10px;
}+/
