body {
  font-family: Arial, sans-serif;
  background-color: honeydew;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  width: 800px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  width: 75%;
  max-width: 800px;
  height: 500px;
  padding: 10px;
  margin: 5px;
}
